@charset "UTF-8";

#noticeSection {
	margin-left: 65px;
	font-family: NotoSansB;
	width: 1070px;
}
.notificationDiv{
	height: 800px;
	width: 1070px;
	background-color: rgb(244, 244, 244);
	margin-bottom: 220px;
}

#noticePageTitle {
	margin-top: 105px;
	margin-bottom: 70px;
	font-size: 14px;
	color: rgb(75, 77, 178);
}

.CheckDiv {
	font-size: 13px;
	margin-bottom: 56px;
	color: rgb(94, 94, 94);
}

.AllCheck {
	margin-left: 11px;
}

.CheckText, .DeleteText, .AllReadText, .allNotificationText, .unchkNotificationText {
	height: 20px;
	line-height: 20px;
	display: inline-block;
	vertical-align: bottom;
}
.unchkNotificationText, .allNotificationText {
	float: right;
}


.AllCheck {
	vertical-align: bottom;
}

.verLine {
	border-left: thin solid rgb(94, 94, 94);
	height: 15px;
	width: 20px;
	display: inline-block;
	margin-left: 43px;
	margin-right: 43px;
}

input[type=button] {
	display: none;
}

.DeleteText {
	margin-right: 15px;
}
.notificationTitleDiv{
	font-size: 12px;
	color: rgb(94, 94, 94);
	background-color: rgb(224, 224, 224);
	height: 60px;
	box-sizing: border-box;
	line-height: 60px;
}
.notificationNoDiv{
	width: 59px;
	margin-left: 192px;
	margin-right: 282px;
}
.notificationDateDiv{
	margin-left: 328px;
}
.notificationTable{
	border-collapse: separate;
    border-spacing: 0 30px;
}
tr input[type=checkbox] {
	margin: 0px;
	vertical-align: bottom;
	margin-left: 59px;
}
.notificationSort{
	padding-left: 110px;
	width: 45px;
	text-align: center;
}
.notificationTitle{
	width: 400px;
	text-align: center;
	padding-left: 95px;
	padding-right: 131px;
	cursor: pointer;
}
.notificationDate{
	width: 87px;
	text-align: center;
}
.notificationList{
	font-size: 12px;
}
label{
	cursor: pointer;
}
.verLine2{
	border-left: thin solid rgb(94, 94, 94);
	height: 15px;
	width: 20px;
	display: inline-block;
	vertical-align: bottom;
	margin-left: 35px;
	margin-right: 25px;
}
.unchkNotificationText label {
	color: black;
}