@charset "UTF-8";

section {
	font-size: 0;
	width : 1320px;
}

/* 생성 페이지 */
/* 생성 페이지 */
/* 생성 페이지 */
/* 생성 페이지 */
/* 생성 페이지 */
/* 생성 페이지 */
/* 생성 페이지 */
/* 생성 페이지 */
/* 생성 페이지 */
/* 생성 페이지 */

#project_insert_wrap {
	margin: 75px auto 0px;
	width: 380px;
	font-size: 0px;
}

.project_insert_text_title {
	font-size: 13px;
	height: 20px;
	line-height: 20px;
	color: rgb(94, 94, 94);
	font-family: NotoSansB;
	margin-bottom: 10px;
}

#project_insert_text {
	width: 380px;
	height: 40px;
	font-family: NotoSansR;
	padding-left: 10px;
	margin-bottom: 60px;
	border: 1px solid rgb(224, 224, 224);
}

#project_insert_text:focus {
}

#project_insert_textarea {
	width: 380px;
	height: 300px;
	resize: none;
	margin-bottom: 60px;
	font-family: NotoSansR;
	padding: 10px;
	border: 1px solid rgb(224, 224, 224);
}

.project_insert_menu_wrap {
	display: grid;
	grid-template-columns: 120px 220px 50px;
	grid-template-rows: 20px;
	margin-bottom: 10px;
}

.project_insert_question_mark {
	width: 20px;
	height: 20px;
	justify-items: start;
	font-size: 15px;
	position: relative;
}

.circle_question {
	margin-top: 2.5px;
	color: #4B4DB2;
	cursor: pointer;
}

.project_insert_question_content {
	position: absolute;
	top: 25px;
	width: 260px;
	background-color: white;
	display: none;
	z-index: 1;
	border: 2px solid #4B4DB2;
	border-radius: 2px;
	font-family: NotoSansR;
	font-size: 12px;
	line-height: 20px;
}



.project_insert_toggle_btn_wrap {
	height: 20px;
	width: 40px;
	background-color: gray;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	transition: background-color 0.1s ease;
}

.project_insert_toggle_btn_circle {
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: white;
	transition: left 0.1s ease;
}

#project_insert_btn {
	display: block;
	width: 115px;
	height: 40px;
	background-color: #4B4DB2;
	color: white;
	font-size: 12px;
	font-family: NotoSansR;
	margin: auto;
	text-align: center;
	line-height: 40px;
	margin-top: 70px;
	cursor: pointer;
}

.project_input_wrap {
	position: relative;
}

.project_input_count {
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	position: absolute;
	top: 10px;
	left: 390px;
	height: 20px;
	line-height: 20px;
	width: 100px;
}

/* 리스트페이지 */
/* 리스트페이지 */
/* 리스트페이지 */
/* 리스트페이지 */
/* 리스트페이지 */
/* 리스트페이지 */
/* 리스트페이지 */

#project_wrap {
	margin-top: 105px;
	margin-left: 125px;
	margin-right: 125px;
	margin-bottom: 220px;
}

#project_title {
	
}

#project_tap_menu {
	margin-top: 70px;
	margin-bottom: 60px;
	height: 13px;
}

.project_tap {
	display: inline-block;
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	margin-right: 50px;
	cursor: pointer;
}

#project_list_text_box_wrap {
	display: inline-block;	
	float: right;
}

#project_list_text_box_wrap {
	font-size: 0px;
	height: 25px;
}

#project_list_search_btn {
	cursor: pointer;
	font-size: 15px;
	margin-left: 7px;
}

#project_list_text_box {
	border: 1px solid rgb(224, 224, 224);
	font-family: NotoSansR;
	font-size: 12px;
	padding-left: 2px;
	width: 200px;
	height: 25px;
	line-height: 20px;
}

#project_list_text_box:focus {
}

#project_list_wrap {
	display: grid;
	grid-template-columns: 190px 190px 190px 190px 190px;
	grid-template-rows: 190px;
	gap: 30px;
}

.project_list_block {
	width: 190px;
	height: 190px;
	border-radius: 15px;
	background-color: rgb(244, 244, 244); 
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.project_list_color {
	width: 15px;
	height: 190px;
	background-color: rgb(75, 77, 178); 
	position: absolute;
	left: 0;
}

.project_list_title {
	font-size: 15px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	position: absolute;
	left: 35px;
	top: 30px;
	width: 110px;
}

.project_list_update {
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	position: absolute;
	left: 35px;
	top: 150px;
	height: 20px;
	line-height: 20px;
}

.project_list_dept {
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	position: absolute;
	left: 35px;
	top: 120px;
	height: 20px;
	line-height: 20px;
}

.project_list_fav {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 150px;
	top: 27.5px;
	filter: brightness(0) saturate(100%) invert(26%) sepia(76%) saturate(1356%) hue-rotate(219deg) brightness(91%) contrast(87%);
	cursor: pointer;
}

.project_list_unlock {
	width: 20px;
	height: 20px;
	position: absolute;
	left:  150px;
	top: 150px;
}

#project_list_modal_background {
	display: none;
	z-index: 2;
	background-color: rgba(128, 128, 128, 0.356);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#project_list_modal_wrap {
	width: 280px;
	height: 230px;
	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	background-color: rgb(250, 250, 250);
}

#project_list_modal_flex {
	margin-top: 60px;
	display: grid;
	grid-template-rows: 20px 30px 70px 50px;
}

#project_list_modal_title {
	font-size: 15px;
	color: rgb(94, 94, 94);
	font-family: NotoSansB;
	margin: auto;
	width: 280px;
	padding-left: 30px;
    padding-right: 30px;
    line-height: 18px;
	box-sizing: border-box; 
}

#project_list_modal_people {
	font-size: 13px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
	margin: auto;
}

#project_list_modal_notice {
	font-size: 12px;
	color: rgb(75, 77, 178);
	font-family: NotoSansB;
	margin: auto;
	border-bottom: 1px solid rgb(224, 224, 224);
	height: 70px;;
	width: 280px;
	line-height: 69px;
	text-align: center;
	box-sizing: border-box;
}

#project_list_modal_btn_wrap {
	font-size: 0px;
}

.project_list_modal_btn {
	width: 140px;
	font-size: 12px;
	height: 50px;
	line-height: 50px;
	font-family: NotoSansR;
	background: rgb(250, 250, 250);
	cursor: pointer;
}

.project_list_modal_btn:hover {
	background: #4B4DB2;
	color: white;
}

.project_list_page_btn_wrap {
	margin-top: 30px;
	display: flex;
	/* width: 1070px; */
	justify-content: center;
	gap: 10px;
}

.project_page_btn {
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background-color: rgb(224, 224, 224);
	cursor: pointer;
	text-align: center;
	line-height: 30px;
}

.project_page_btn_prev {
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background-color: rgb(224, 224, 224);
	cursor: pointer;
	text-align: center;
	line-height: 30px;
}

.project_page_btn_next {
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background-color: rgb(224, 224, 224);
	cursor: pointer;
	text-align: center;
	line-height: 30px;
}


.project_page_btn i {
	line-height: 30px !important;
}

.project_page_btn_prev i {
	line-height: 30px !important;
}

.project_page_btn_next i {
	line-height: 30px !important;
}

/* 메인페이지 */
/* 메인페이지 */
/* 메인페이지 */
/* 메인페이지 */
/* 메인페이지 */
/* 메인페이지 */
/* 메인페이지 */

#project_main_wrap {
	margin: 105px 125px 220px 125px;
	position: relative;
}

#project_main_menu_title {
	font-size: 14px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	cursor: pointer;
}

#project_main_header_btn_wrap {
	font-size: 0px;
	position: relative;
}

#project_main_header_btn_wrap {
	height: 70px;
}

.btn_main_purple {
	width: 115px;
	height: 40px;
	background-color: #4B4DB2;
	font-size: 12px;
	color: white;
	font-family: NotoSansR;
}

.btn_main_gray {
	width: 115px;
	height: 40px;
	background-color: rgb(230, 230, 230);
	font-size: 12px;
	font-family: NotoSansR;
}

.btn_main_float {
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 20px;
	float: right;
	cursor: pointer;
}

#project_main_title {
	font-size: 14px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	margin-bottom: 30px;
	cursor: pointer;
}

#project_main_tab_wrap {
	font-size: 0px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin-bottom: 45px;
	position: relative;
}

.project_main_tab {
	font-size: 13px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

#project_main_container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 45px;
}

#project_main_box_title {
	width: 1070px;
	min-height: 240px;
	background-color: rgb(159, 197, 232);
	padding: 60px 100px;
	box-sizing: border-box;
}

.project_main_box {
	width: 1070px;
	min-height: 255px;
	background-color: rgb(244, 244, 244);
}

.project_main_box_top {
	width: 1070px;
	height: 60px;
	background-color: rgb(224, 224, 224);	
}

.project_main_box_title {
	height: 60px;
	line-height: 60px;
	font-size: 12px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	text-align : center;
}

.project_main_box_container {
	margin: 35px 85px;
	display: grid;
	grid-template-columns: 650px 250px;
	grid-template-rows: repeat(5, 25px);
}

.project_main_box_content_title {
	font-size: 13px;
	font-family: NotoSansR;
	line-height: 25px;
	color: rgb(94, 94, 94);
}

.project_main_box_content_date {
	font-size: 13px;
	font-family: NotoSansR;
	line-height: 25px;
	color: rgb(94, 94, 94);
	text-align: right;
}

#project_main_box_title_title {
	font-size: 37px;
	font-family: NotoSansB;
	color: white;
}

#project_main_box_title_content {
	height: 69px;
	font-size: 14px;
	font-family: NotoSansR;
	color: white;
	margin-top: 26px;
}

#project_main_box_title_wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#project_main_box_title_company {
	font-size: 14px;
	font-family: NotoSansB;
	color: white;
}

#project_main_box_title_participant {
	font-size: 14px;
	font-family: NotoSansB;
	color: white;
	justify-self: end;
}

/* 프로젝트 글 리스트 */
/* 프로젝트 글 리스트 */
/* 프로젝트 글 리스트 */
/* 프로젝트 글 리스트 */
/* 프로젝트 글 리스트 */
/* 프로젝트 글 리스트 */

#project_board_list_container {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	gap: 45px;
}

.project_board_list_flex_box {
	width: 1070px;
	position: relative;
}

.project_board_list_flex_box_header {
	width: 1070px;
	height: 60px;
	background-color: rgb(224, 224, 224);
	font-size: 12px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	line-height: 60px;
	text-align: center;
}

.project_board_list_flex_box_body {
	padding: 35px 85px 35px 85px;
	width: 1070px;;
	overflow: hidden;
	min-height: 96px;
	background-color: rgb(244, 244, 244);
	box-sizing: border-box;
}

.project_board_list_flex_box_body_container {
	display: grid;
	grid-template-columns: 680px 90px 90px;
    grid-template-rows: 25px;
	column-gap: 20px;
}

.project_board_list_flex_box_body_container_fix {
	display: grid;
    grid-template-rows: 26px;
	column-gap: 20px;
}

.project_board_list_none {
	font-size: 13px;
	font-family: NotoSansR;
	line-height: 26px;
}

.project_board_list_gird_rows {
	display: grid;	
	grid-template-columns: 30px 680px 90px 90px;
}

.project_board_list_flex_box_board {
	width: 1070px;
	height: 255px;
	position: relative;
}

.project_board_list_flex_box_board_header {
	width: 100%;
	height: 60px;
	background-color: rgb(224, 224, 224);
	font-size: 12px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	line-height: 60px;
	text-align: center;
}

.project_board_list_flex_box_board_body {
	padding: 35px 85px 35px 85px;
	width: 100%;
	background-color: rgb(244, 244, 244);
	box-sizing: border-box;
}

.project_board_title {
	font-size: 13px;
    font-family: NotoSansR;
    line-height: 26px;
    color: rgb(94, 94, 94);
}

.project_board_title_span {
	cursor: pointer;
}

.project_board_writer {
	font-size: 13px;
    font-family: NotoSansR;
    line-height: 26px;
    color: rgb(94, 94, 94);
}

.project_board_date {
	font-size: 13px;
    font-family: NotoSansR;
    line-height: 26px;
    color: rgb(94, 94, 94);
}

.project_board_fix {
	line-height: 26px;
	height: 26px;
}

.project_board_fix_btn {
	margin-top: 6.5px;
	margin-bottom: 6.5px;
	margin-left: 10px;
	width: 13px;
	height: 13px;
	cursor: pointer;
}

#project_board_insert_btn_wrap {
	text-align: right;
	font-size: 0px;
}

#project_board_insert_btn {
	cursor: pointer;
	width: 90px;
	height: 30px; 
	background-color: rgb(230, 230, 230);
	font-family: NotoSansR;
	font-size: 12px;
}

#project_notice_insert_btn {
	cursor: pointer;
	width: 90px;
	height: 30px; 
	background-color: rgb(230, 230, 230);
	font-family: NotoSansR;
	font-size: 12px;	
}

.project_notice_title_span {
	cursor: pointer;
}

#project_board_sub_btn_wrap {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 25px;
}

.project_board_sub_btn {
	width: 90px;
	height: 30px;
	background-color: rgb(230, 230, 230);
	font-size: 12px;
	color: rgb(51, 51, 51);
	font-family: NotoSansR;
	cursor: pointer;
}



/* 프로젝트 글등록 페이지 */
/* 프로젝트 글등록 페이지 */
/* 프로젝트 글등록 페이지 */
/* 프로젝트 글등록 페이지 */
/* 프로젝트 글등록 페이지 */
/* 프로젝트 글등록 페이지 */
/* 프로젝트 글등록 페이지 */

#project_board_insert_wrap {
	margin-top: 70px;
	margin-left: 195px;
}

.project_board_insert_div_title {
	margin-top: 60px;
	font-size: 13px;
	color: rgb(94, 94, 94);
	font-family: NotoSansB;
	height: 20px;
	line-height: 20px;
}

.project_board_insert_input_text {
	margin-top: 15px;
	width: 680px;
	height: 40px;
	padding-left: 10px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	border: 1px solid rgb(224, 224, 224);
}

.project_board_insert_input_text:focus {
}

.project_board_insert_textarea {
	margin-top: 15px;
	width: 680px;
	height: 300px;
	resize: none;
	font-family: NotoSansR;
	padding: 10px;
	border: 1px solid rgb(224, 224, 224);
	color: rgb(94, 94, 94);
}

.project_board_insert_content {
	position: relative;
	font-size: 0px;
}

.project_board_insert_btn {
	font-size: 12px;
	color: rgb(51, 51, 51);
	font-family: NotoSansR;
	margin-left: 20px;
	width: 90px;
	height: 40px;
	background-color: rgb(230, 230, 230);
	cursor: pointer;
}

#project_board_file_list_wrap {
	display: flex;
}

.project_board_file_list {
	width: 680px;
	min-height: 40px;
	border: 1px solid rgb(224, 224, 224);
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 660px 20px;
	grid-template-rows: 20px;
}

.project_board_file_list_content {
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(51, 51, 51);
	height: 20px;
	line-height: 20px;
}

.file_delete_btn {
	font-size: 15px;	
	color: rgb(51, 51, 51);
	align-self: center;
	justify-self: center;
	cursor: pointer;
}

.file_delete_btn:hover {
	color: #4B4DB2;	
}

.project_board_file_name_insert {
	display: none;
}

.project_board_parent_no_insert {
	display: none;	
}

.project_board_file_insert {
	display: none;
}

.project_board_insert_btn:hover {
	background: #4B4DB2;
	color: white; 
}

.project_board_insert_mention {
	height: 25px;
	display: flex;
}

.project_board_insert_mention_title {
	font-size: 13px;
	color: rgb(94, 94, 94);
	height: 25px;
	line-height: 25px;
	margin-right: 10px;
}

.project_board_insert_mention_toggle {
	width: 46px;
	height: 24px;
	margin: 0.5px 0px;
	background-color: rgb(224, 224, 224);
	border-radius: 12px;
	margin-right: 30px;
	position: relative;
}

.project_board_insert_mention_toggle_circle {
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 2.5px;
	left: 2.5px;
}

.project_board_insert_write_btn {
	width: 115px;
	height: 40px;
	font-size: 14px;
	font-family: NotoSansB;
	color: white;
	background-color: #4B4DB2;
	display: block;
	margin-top: 70px;
	margin-left: 282.5px;
	cursor: pointer;
}

.project_board_input_count{
	
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	position: absolute;
	top: 25px;
	left: 690px;
	height: 20px;
	line-height: 20px;
	width: 100px;
}

#project_board_insert_modal_background {
	display: none;
	z-index: 2;
	background-color: rgba(128, 128, 128, 0.356);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	font-size: 0px;
}

#project_board_insert_modal_wrap {
	width: 320px;
	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	background-color: rgb(250, 250, 250);
}

#project_board_insert_modal_grid {
	display : grid;
	grid-template-rows: 45px 400px 45px;
}

#project_board_insert_modal_header {
	font-size: 13px;
	color: #4B4DB2;
	font-family: NotoSansR;
	height: 45px;
	text-align: center;
	line-height: 45px;
}

#project_file_tree {
	height: 400px;
}

#project_board_insert_modal_btn_wrap {
	height: 45px;
	box-sizing: border-box;
	border-top: 1px solid rgb(224, 224, 224);
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.project_board_insert_modal_btn {
	font-size: 12px;
	font-family: NotoSansR;
	cursor: pointer;
	align-self: center;
	justify-self: center;
	width: 160px;
	height: 44px;
	background-color: rgb(250, 250, 250);
}

#project_board_insert_modal_cancle_btn {
	color: rgb(190, 190, 190);
}

#project_board_insert_modal_add_btn {
	color : #4B4DB2;
}

.project_board_insert_modal_btn:hover {
	color: white !important;
	background-color: #4B4DB2;	
}

#project_board_file_modal_loading {
	display: none;
	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
	font-size: 50px;
	color: rgn(94, 94, 94);
}

/* 프로젝트 글읽기 페이지 */
/* 프로젝트 글읽기 페이지 */
/* 프로젝트 글읽기 페이지 */
/* 프로젝트 글읽기 페이지 */
/* 프로젝트 글읽기 페이지 */
/* 프로젝트 글읽기 페이지 */

#projcet_main_menu_title_profile_wrap {
	position: relative;
}

#project_main_profile_wrap {
	display: flex;
	gap: 25px;
	flex-direction: row;
	flex-grow: 1;
	position: absolute;
	top: 80px;
	right: 110px;
}

#project_main_profile_picture_wrap {
	width: 70px;
	height: 70px;
	background-color: rgb(230, 230, 230);
	border-radius: 50%;
}

#project_main_profile_info_wrap {
	height: 70px;
}

.project_main_profile_info {
	font-size: 13px;
	color: rgb(94, 94, 94);
	height: 20px;
	line-height: 20px;
	font-family: NotoSansR;
}

.project_main_profile_info_name {
	font-size: 13px;
	color: rgb(94, 94, 94);
	height: 20px;
	line-height: 20px;
	font-family: NotoSansB;
}

.project_main_profile_info_wrap {
	display: flex;
	gap: 5px;
}

#project_board_read_wrap {
	position: relative;
	background-color: rgb(244, 244, 244);
	padding: 80px 110px;
}

#project_board_read_grid {
	display: grid;
    grid-template-columns: 110px 735px;
    row-gap: 35px;
}

.project_board_read_title {
	font-size: 13px;
	color: rgb(94, 94, 94);
	height: 20px;
	line-height: 20px;
	font-family: NotoSansB;
}

#project_board_read_title {
	width: 620px;
}

.project_board_read_content {
	font-size: 13px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
	line-height: 20px;
	width: 620px;
}

.project_board_read_file_wrap {
	display: flex;
	flex-direction: column;
}

.project_board_read_file_span {
	cursor: pointer;
}

.project_board_read_file_span:hover {
	color: #4B4DB2;
}

.project_board_read_file {
	font-size: 13px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
	height: 20px;
	line-height: 20px;
}

.project_board_read_hr {
	grid-column: 1 / 3;
	width: 850px;
	height: 1px;
	background-color: rgb(224, 224, 224);
	margin-bottom: 60px;
}

.project_board_read_btn {
	width: 115px;
	height: 40px;
	font-size: 14px;
	font-family: NotoSansB;
	color: white;
	background-color: #4B4DB2;
	display: block;
	margin: 70px auto 0px;
	cursor: pointer;
}

.project_board_read_comment_wrap {
	display: flex;
}

.project_board_read_comemnt_content_flex {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.project_board_read_comemnt_title {
	font-size: 13px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	width: 60px;
	height: 30px;
}

.project_board_read_comemnt_content_wrap {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

/* .project_board_read_comemnt_content_wrap {
	display: grid;
	width: 620px;
	grid-template-rows: 40px 60px;
	row-gap: 15px;
} */

.project_board_read_comemnt_content_profile_wrap {
	display: grid;
	grid-template-columns: 40px 105px 510px 30px 30px;
	column-gap: 5px;
}

.project_board_read_comment_content_profile_flex {
	display: flex;
}

.project_board_read_comemnt_content_profile_img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgb(230, 230, 230);
}

.project_board_read_comemnt_content_profile_name {
	font-size: 13px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	justify-self: end;
	line-height: 40px;
}

.project_board_read_comemnt_content_profile_job {
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	justify-self: start;
	line-height: 40px;
	margin-left: 10px;
}

.project_board_read_comemnt_content_date {
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	justify-self: end;
	line-height: 40px;
}

.project_board_read_comemnt_content_input_wrap {
	display: grid;
	grid-template-columns: 640px 90px;
	column-gap: 5px;
}

.project_board_read_comemnt_content_input {
	width: 640px;
	height: 60px;
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	resize: none;
	overflow: hidden;
}

.project_board_read_comemnt_content_delete_btn {
	/* width: 90px;
	height: 30px; */
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	background-color: rgb(244, 244, 244);
	cursor: pointer;
	justify-self: end;
	align-self: center;
}

.project_board_read_comemnt_content_update_btn {
	/* width: 90px;
	height: 30px; */
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	background-color: rgb(244, 244, 244);
	cursor: pointer;
	justify-self: end;
    align-self: center;
}

.project_board_read_comemnt_content_input_btn {
	width: 90px;
	height: 30px;
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	background-color: rgb(224, 224, 224);
	cursor: pointer;
}

.project_board_read_comemnt_content {
	width: 510px;
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	margin-left: 45px;
}
/* 프로젝트 업무 생성 리스트 페이지 */
/* 프로젝트 업무 생성 리스트 페이지 */
/* 프로젝트 업무 생성 리스트 페이지 */
/* 프로젝트 업무 생성 리스트 페이지 */
/* 프로젝트 업무 생성 리스트 페이지 */
/* 프로젝트 업무 생성 리스트 페이지 */
/* 프로젝트 업무 생성 리스트 페이지 */
/* 프로젝트 업무 생성 리스트 페이지 */
/* 프로젝트 업무 생성 리스트 페이지 */
/* 프로젝트 업무 생성 리스트 페이지 */



#project_work_worker_add_btn {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 12px;
	font-family: NotoSansR;
	width: 90px;
	height: 30px;
	background-color: rgb(224, 224, 224);
	cursor: pointer;
	color: rgb(94, 94, 94);
}

#project_work_worker_add_btn:hover {
	color: rgb(244, 244, 244);	
	background-color: rgb(75, 77, 178);
}

.project_work_read_content_date_input_wrap {
	display: flex;
	gap: 20px;
}

.project_work_read_content_date_input_text {
	font-size: 12px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
}

.project_work_read_content_date_input_date {
	font-size: 12px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
	height: 20px;
	margin-top: 5px;
	border: 1px solid rgb(224, 224, 224);
}

#project_work_title_input_text {
	height: 30px;
	width: 550px;
    padding-left: 10px;
    font-family: NotoSansR;
    color: rgb(94, 94, 94);
    border: 1px solid rgb(224, 224, 224);
    font-size: 12px;
}

#project_work_content_input_textarea {
	resize: none;
	width: 550px;
	height: 180px;
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
    border: 1px solid rgb(224, 224, 224);
    padding: 10px;
}

#project_work_add_btn_wrap {
	grid-column: 1/ 3;
	text-align: center;
}

#project_work_add_btn {
    width: 115px;
    height: 40px;
    background-color: #4B4DB2;
    color: white;
    font-size: 12px;
    font-family: NotoSansR;
    margin: auto;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

/* 프로젝트 업무 리스트 페이지 */
/* 프로젝트 업무 리스트 페이지 */
/* 프로젝트 업무 리스트 페이지 */
/* 프로젝트 업무 리스트 페이지 */
/* 프로젝트 업무 리스트 페이지 */
/* 프로젝트 업무 리스트 페이지 */

#project_work_wrap {
	margin-top: 30px;
	width: 1070px;
}

#project_work_header {
	height: 60px;
	width: 1070px;
	background-color: rgb(224, 224, 224);
	display: grid;
	grid-template-columns: 90px 90px 110px 510px 90px 180px;
}

.project_work_header_content {
	font-size: 12px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	text-align: center;
	line-height: 60px;
}

.sub_work_content {
	font-size: 15px;
	margin: auto;
	color: rgb(94, 94, 94);
}

.work_state_content {
	font-size: 0px;
}

.work_rank_content {
	margin-left: 50px;
	margin-top: auto;
	margin-bottom: auto;
}

.work_name_content {
	
}

.work_name_content_left {
	text-align: left;
}

.work_manager_content {
	
}

.work_date_content {
	margin-right: 60px;
}

#project_work_body {
	display: flex;
	flex-direction: column;
}

.project_work_body_content {
	display: grid;
	grid-template-columns: 90px 90px 110px 510px 90px 180px;
}

.sub_work_slide_div {
	display: none;
}

.project_work_body_sub_content {
	display: grid;
	grid-template-columns: 90px 90px 110px 510px 90px 180px;	
	grid-template-rows: 60px;
	height: 60px;
}

.work_state_div {
	width: 90px;
	height: 30px;
	margin: 15px auto;
	color: white;
	font-size: 12px;
	line-height: 30px;
}

.work_state_type1 {
	background-color: rgb(87, 184, 184);
}

.work_state_type2 {
	background-color: rgb(230, 126, 34);
}

.work_state_type3 {
	background-color: rgb(231, 76, 60);
}

.work_state_type4 {
	background-color: rgb(94, 94, 94);
}

.work_state_type5 {
	background-color: rgb(75, 77, 178);
}

.work_rank_arrow {
	font-size: 15px;
	color: rgb(94, 94, 94);
	margin: auto;
}

#project_work_insert_btn_wrap {
	flex-grow: 1;
	text-align: right;
}

#project_work_insert_btn {
	width: 90px;
	height: 30px;
	line-height: 30px;
	background-color: rgb(230, 230, 230);
	font-size: 12px;
	color: rgb(51, 51, 51);
	cursor: pointer;
	font-family: NotoSansR;
}

.work_title_span {
	cursor: pointer;
	margin-left: 20px;
}

.sub_work_list_btn {
	font-size: 15px;
	color: rgb(94, 94, 94);
	cursor: pointer;
}


/* 프로젝트 업무 조회 페이지 */
/* 프로젝트 업무 조회 페이지 */
/* 프로젝트 업무 조회 페이지 */
/* 프로젝트 업무 조회 페이지 */
/* 프로젝트 업무 조회 페이지 */
/* 프로젝트 업무 조회 페이지 */
/* 프로젝트 업무 조회 페이지 */
/* 프로젝트 업무 조회 페이지 */

#project_work_update_btn {
	width: 90px;
	height: 30px;
	background-color: rgb(230, 230, 230);
	font-size: 12px;
	color: rgb(51, 51, 51);
	font-family: NotoSansR;
	position: absolute;
	top: 0px;
	right: 115px;
	cursor: pointer;
}

#project_work_delete_btn {
	width: 90px;
	height: 30px;
	background-color: rgb(230, 230, 230);
	font-size: 12px;
	color: rgb(51, 51, 51);
	font-family: NotoSansR;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

#project_work_read_profile_wrap {
	font-size: 0px;
	padding-left: 105px;
	display: flex;
	flex-direction: row;
	gap: 25px;
	position: absolute;
	top: 80px;
	right: 110px;
}

#project_work_read_profile_pic {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: rgb(230, 230, 230);
}

#project_work_read_profile_text_wrap {
	font-size: 0px;
	display: flex;
	flex-direction: column;
	gap: 0.5px;
}

.project_work_read_profile_text {
	font-size: 13px;
	color: rgb(94, 94, 94);
	height: 23px;
	line-height: 23px;
}

#project_work_read_content_wrap {
	width: 1070px;
	background-color: rgb(244, 244, 244);
	padding: 80px 110px;
	box-sizing: border-box;
	color: rgb(94, 94, 94);
	position: relative;
}

#project_work_read_content_grid_box {
	display: grid;
	grid-template-columns: 110px 735px;
	row-gap: 35px;
}

.project_work_read_content_left {
	width: 60px;
	font-size: 12px;
	color: rgb(94, 94, 94);
	font-family: NotoSansB;
	margin: 0 auto;
	text-align: left;
	height: 30px;
	line-height: 30px;
	margin-right: 50px;
}

.project_work_read_content_right {
	font-size: 0px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
	min-height: 30px;
	line-height: 30px;
	position: relative;
}

.project_work_read_content_hr {
	grid-column: 1 / 3;
	margin: 25px 0px;
	width: 850px;
	height: 1px;
	background-color: rgb(224, 224, 224);
}

.project_work_read_content_state_wrap {
	display: flex;
	flex-direction: row;
}

.project_work_read_content_state {
	font-size: 12px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
	width: 90px;
	height: 30px;
	background-color: rgb(224, 224, 224);
	margin-right: 25px;
	text-align: center;
	cursor: pointer;
}

.project_work_read_content_priority_wrap {
	display: flex;
	flex-direction: row;
}

.project_work_read_content_priority {
	font-size: 12px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
	width: 90px;
	height: 30px;
	background-color: rgb(224, 224, 224);
	margin-right: 25px;
	text-align: center;
	cursor: pointer;
}

.project_work_read_content_worker_wrap {
	display: grid;
	row-gap: 25px;
	column-gap: 25px;
	grid-template-columns: repeat(5, 90px);
}

.project_work_read_content_worker {
	font-size: 12px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
	width: 90px;
	height: 30px;
	background-color: rgb(224, 224, 224);
	text-align: center;
	position: relative;
}

.project_work_read_content_date_wrap {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.project_work_read_content_date {
	font-size: 12px;
	font-family: NotoSansR;
	height: 30px;
	line-height: 30px;
}

.project_work_read_content_content {
	font-size: 12px;
	font-family: NotoSansR;
}

.project_work_read_sub_work_btn {
	font-size: 20px;
	color: rgb(94, 94, 94);
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.project_work_read_sub_work {
	position: relative;
}

.project_work_read_sub_work_add_btn {
	font-size: 12px;
	font-family: NotoSansR;
	color: white;
	background-color: rgb(75, 77, 178);
	width: 90px;
	height: 30px;
	top: 0px;
	right: 0px;
	position: absolute;
	cursor: pointer;
}

#project_work_read_sub_work_row_gird {
	display: none;
	width: 735px;
	grid-template-rows: 40px;
	margin-top: 10px;
	border-top: 1px solid rgb(224, 224, 224);	
}

.project_work_read_sub_work_column_gird {
	font-size: 12px;
	font-family: NotoSansR;
	display: grid;
	grid-template-columns: 100px 70px 1fr 70px 75px;
	border-bottom: 1px solid rgb(224, 224, 224);
	height: 39px;
	align-content: center;
}

.project_work_read_sub_work_state_text {
	text-align: center;
}

.project_work_read_sub_work_priority {
	text-align: center;
}

.project_work_read_sub_work_title_span {
	cursor: pointer;
}

.sub_work_rank_arrow {
	line-height: 30px !important;
}

.project_work_read_sub_work_state {
	width: 90px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	justify-self: center;
}

.project_work_read_comment_profile {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgb(230, 230, 230);
	position: relative;
	top: -5px;
}

.project_work_read_comment_input_wrap {
	position: relative;
	margin-top: 10px;
}

.project_work_read_comment_input_text {
	width: 600px;
	height: 30px;
	border: 1px solid #ccc;
}


.project_work_read_comment_input_text:focus {
	outline: none;
	border: 1px solid #555;	
}

.project_work_read_comment_insert_btn {
	font-size: 12px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
	width: 90px;
	height: 30px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.project_work_read_comment_flex {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.project_work_read_comemnt_content_wrap {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.project_work_read_comemnt_content_profile_wrap {
	display: grid;
	grid-template-columns: 40px 105px 510px 30px 30px;
	column-gap: 5px;
}

.project_work_read_comemnt_content_input_wrap {
	display: grid;
	grid-template-columns: 625px 90px;
	column-gap: 20px;
}

.project_work_read_comment_content_profile_flex {
	display: flex;
}

.project_work_read_comemnt_content_profile_img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgb(230, 230, 230);
}

.project_work_read_comemnt_content_profile_name {
	font-size: 13px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	justify-self: end;
	line-height: 40px;
}

.project_work_read_comemnt_content_profile_job {
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	justify-self: start;
	line-height: 40px;
}

.project_work_read_comemnt_content_date {
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	justify-self: end;
	line-height: 40px;
}

.project_work_read_comemnt_content_input {
	width: 625px;
	height: 60px;
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	resize: none;
	overflow: hidden;
}

.project_work_read_comemnt_content {
	width: 510px;
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	margin-left: 45px;
}

.project_work_read_comemnt_content_input_btn {
	width: 90px;
	height: 30px;
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	background-color: rgb(224, 224, 224);
	cursor: pointer;
}

.project_work_read_comemnt_content_delete_btn {
	/* width: 90px;
	height: 30px; */
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	background-color: rgb(244, 244, 244);
	cursor: pointer;
	justify-self: end;
	align-self: center;
}

.project_work_read_comemnt_content_update_btn {
	/* width: 90px;
	height: 30px; */
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	background-color: rgb(244, 244, 244);
	cursor: pointer;
    align-self: center;
}
/* 할일목록 */
/* 할일목록 */
/* 할일목록 */
/* 할일목록 */
/* 할일목록 */

#project_todo_header_wrap {
	margin-top: 35px;
	font-size: 0px;
	position: relative;
	height: 50px;
}

#project_todo_header_date {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 15px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	height: 20px;
	line-height: 20px;
}

#projecet_todo_date_input {
	font-size: 15px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	border: 0px;
}

#project_todo_header_progress {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 15px;
	font-family: NotoSansB;
	color: rgb(75, 77, 178);
	height: 20px;
	line-height: 20px;
}

#project_todo_header_progress_bar_wrap {
	position: absolute;
	top: 25px;
	width: 1070px;
	height: 25px;
	background-color: rgb(230, 230, 230);
}

#project_todo_header_progress_bar {
	position: relative;
	top: 0px;
	width: 0px;
	height: 25px;
	background-color: rgb(75, 77, 178);
	transition : width 0.5s ease;
}

#project_todo_content_wrap {
	margin-top: 45px;
}

#project_todo_content_flex_box {
	display: flex;
	flex-direction: column;
}

#project_todo_content_flex_box_head {
	width: 1070px;
	height: 60px;
	background-color: rgb(224, 224, 224);
}

#project_todo_content_flex_box_body {
	width: 1070px;
	background-color: rgb(244, 244, 244);
	padding: 40px 70px;
	font-size: 0px;
	display: grid;
	grid-template-columns: 20px 880px;
	row-gap: 15px;
	column-gap: 30px;
	box-sizing: border-box;
}

.project_todo_chk_box {
	width: 20px;
	height: 20px;
	border: 2px solid gray;
	box-sizing: border-box;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

.project_todo_chk {
	visibility: hidden;
	margin-top: 2px;
	font-size: 12px;
	color: white;
}

.project_todo_list_title {
	font-size: 13px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
	height: 20px;
	line-height: 20px;
}

.project_todo_sub_btn {
	width: 90px;
	height: 30px;
	background-color: rgb(230, 230, 230);
	font-size: 12px;
	color: rgb(51, 51, 51);
	font-family: NotoSansR;
	cursor: pointer;	
}

#project_todo_complete_btn {
	display: none;
}

#project_todo_cancle_btn {
	display: none;
}

#project_todo_modal_background {
	display: none;
	z-index: 2;
	background-color: rgba(128, 128, 128, 0.356);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	font-size: 0px;
} 

#project_todo_modal_wrap{
	width: 320px;
	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	background-color: rgb(250, 250, 250);
}

#project_todo_modal_grid {
	display: grid;
	grid-template-rows: 30px 20px 40px 20px 40px 45px;
}

#project_todo_modal_tap_wrap {
	padding: 0px 25px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}

.project_todo_modal_tap_invite {
	grid-column: 1 / 4;
	font-size: 13px;
	color: rgb(51, 51, 51);
	font-family: NotoSansR;
	align-self: center;
	text-align: center;
	color: #4B4DB2;
}

.project_todo_modal_name {
	font-size: 11px;
	color: rgb(158, 158, 158);
	font-family: NotoSansR;
	height: 20px;
	line-height: 20px;
	padding-left: 25px;
}

.project_todo_modal_select_wrap {
	padding: 0px 25px;
}

#project_todo_modal_btn_wrap {
	height: 45px;
	box-sizing: border-box;
	border-top: 1px solid rgb(224, 224, 224);
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.project_todo_modal_btn {
	font-size: 12px;
	font-family: NotoSansR;
	cursor: pointer;
	align-self: center;
	justify-self: center;
	width: 160px;
	height: 44px;
	background-color: rgb(250, 250, 250);
}

.project_todo_modal_btn:hover {
	color: white !important;
	background-color: #4B4DB2;	
}

#project_todo_modal_cancle_btn {
	color: rgb(190, 190, 190);
}

#project_todo_modal_add_btn {
	color: #4B4DB2;
}

#project_todo_modal_text {
	width: 270px;
	height: 30px;
	font-family: NotoSansR;
	border: 1px solid rgb(224, 224, 224);
	font-size: 11px;
	color: rgb(94, 94, 94);
}

#project_todo_modal_time {
	width: 270px;
	height: 30px;
	font-family: NotoSansR;
	border: 1px solid rgb(224, 224, 224);
	font-size: 11px;
	color: rgb(94, 94, 94);
}

.project_todo_list_time_input {
	height: 20px;
	font-size: 13px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
	width: 100px;
}
.project_todo_list_time_input:disabled::-webkit-datetime-edit-fields-wrapper {
	text-decoration: line-through;	
}

.project_todo_list_title_input {
	height: 20px;
	font-size: 13px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
	width: 400px;
}

.project_todo_list_title_input:disabled {
	text-decoration: line-through;	
}

.project_todo_update_grid {
	display: grid;
	grid-template-columns: 100px 400px 40px 40px;
	column-gap: 10px;
}

.project_todo_list_update_btn {
	text-align: center;
	font-size: 13px;
	font-family: NotoSansR;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	user-select: none;
	color: rgb(94, 94, 94);
}

.project_todo_list_delete_btn {
	text-align: center;
	font-size: 13px;
	font-family: NotoSansR;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	user-select: none;
	color: rgb(94, 94, 94);
}

#project_todo_sub_btn_wrap {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 25px;
}
/* 프로젝트 참여자 리스트 페이지 */
/* 프로젝트 참여자 리스트 페이지 */
/* 프로젝트 참여자 리스트 페이지 */
/* 프로젝트 참여자 리스트 페이지 */
/* 프로젝트 참여자 리스트 페이지 */
/* 프로젝트 참여자 리스트 페이지 */
/* 프로젝트 참여자 리스트 페이지 */
/* 프로젝트 참여자 리스트 페이지 */


#project_participant_wrap {
	margin-top: 30px;
	width: 1070px;
	font-size: 0px;
}

.project_participant_flex_wrap {
	display: flex;
	flex-direction: column;
	margin-bottom: 70px;
}

.project_participant_header_wrap {
	height: 60px;
	width: 1070px;
	background-color: rgb(224, 224, 224);
	font-size: 12px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);	
}

.projecet_participant_header {
	font-size: 12px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);	
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
	text-align: center;
}

.project_participant_body_wrap {
	width: 1070px;
	min-height: 60px;
	background-color: rgb(244, 244, 244);
	padding: 45px;
	box-sizing: border-box;
}

.project_participant_body_flex {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.project_participant_dept_name {
	font-size: 13px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
}

.project_participant_body_gird {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 70px;
	row-gap: 25px;
}

.project_workder_gird {
	display: grid;
	grid-template-columns: 70px 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 5px;
}

.project_workder_profile {
	grid-column: 1 / 2;
	grid-row: 1 / 4;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: rgb(230, 230, 230);
}

.project_worker_profile_img {
	width: 70px;
	height: 70px;
	border-radius: 50%;	
}

.project_workder_name_dept {
	font-size: 0px;
}

.project_workder_name {
	font-size: 13px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
}

.project_workder_dept {
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
}

.project_workder_num {
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
}

.project_workder_email {
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
}

#project_participant_modal_background {
	display: none;
	z-index: 2;
	background-color: rgba(128, 128, 128, 0.356);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	font-size: 0px;
}

#project_participant_modal_wrap{
	width: 320px;
	height: 310px;
	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
  	background-color: rgb(250, 250, 250);
}

#project_participant_modal_grid {
	display: grid;
	grid-template-rows: 85px 20px 70px 20px 70px 45px;
}

#project_participant_modal_tap_wrap {
	padding: 0px 25px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
}

.project_participant_modal_tap {
	font-size: 13px;
	color: rgb(51, 51, 51);
	font-family: NotoSansR;
	cursor: pointer;
	align-self: center;
}

.project_participant_modal_select_wrap {
	padding: 0px 25px;
}

#project_participant_modal_select_dept {
	width: 270px;
	height: 40px;
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(51, 51, 51);
}

#project_participant_modal_select_name {
	width: 270px;
	height: 40px;
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(51, 51, 51);
}

.project_participant_modal_name {
	font-size: 11px;
	color: rgb(158, 158, 158);
	font-family: NotoSansR;
	height: 20px;
	line-height: 20px;
	padding-left: 25px;
}

#project_participant_modal_btn_wrap {
	height: 45px;
	box-sizing: border-box;
	border-top: 1px solid rgb(224, 224, 224);
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.project_participant_modal_btn {
	font-size: 12px;
	font-family: NotoSansR;
	cursor: pointer;
	align-self: center;
	justify-self: center;
	width: 160px;
	height: 44px;
	background-color: rgb(250, 250, 250);
}

.project_participant_modal_btn:hover {
	color: white !important;
	background-color: #4B4DB2;	
}

#project_participant_modal_cancle_btn {
	color: rgb(190, 190, 190);
}

#project_participant_modal_add_btn {
	color: #4B4DB2;
}

#project_participant_update_btn {
	width: 90px;
	height: 30px;
	background-color: rgb(230, 230, 230);
	font-size: 12px;
	color: rgb(51, 51, 51);
	font-family: NotoSansR;
	position: absolute;
	top: 0px;
	right: 230px;
	cursor: pointer;
}


#project_participant_invite_btn {
	width: 90px;
	height: 30px;
	background-color: rgb(230, 230, 230);
	font-size: 12px;
	color: rgb(51, 51, 51);
	font-family: NotoSansR;
	position: absolute;
	top: 0px;
	right: 115px;
	cursor: pointer;
}

#project_participant_accept_btn {
	width: 90px;
	height: 30px;
	background-color: rgb(230, 230, 230);
	font-size: 12px;
	color: rgb(51, 51, 51);
	font-family: NotoSansR;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.project_participant_modal_tap_invite {
	display: none;
	grid-column: 1 / 4;
	font-size: 13px;
	color: rgb(51, 51, 51);
	font-family: NotoSansR;
	cursor: pointer;
	align-self: center;
	text-align: center;
	color: #4B4DB2;
}

.project_participant_modal_tap_accept {
	display: none;
	grid-column: 1 / 4;
	font-size: 13px;
	color: rgb(51, 51, 51);
	font-family: NotoSansR;
	cursor: pointer;
	align-self: center;
	text-align: center;
	color: #4B4DB2;	
}

/* 캘린더 페이지 리스트 */
/* 캘린더 페이지 리스트 */
/* 캘린더 페이지 리스트 */
/* 캘린더 페이지 리스트 */
/* 캘린더 페이지 리스트 */
/* 캘린더 페이지 리스트 */
/* 캘린더 페이지 리스트 */
/* 캘린더 페이지 리스트 */
/* 캘린더 페이지 리스트 */
/* 캘린더 페이지 리스트 */

#calendar{
	font-size: 13px;
	font-family: NotoSansR;
}

.project_calendar_sub_btn {
	width: 90px;
	height: 30px;
	background-color: rgb(230, 230, 230);
	font-size: 12px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
	cursor: pointer;
}

#project_calendar_sub_btn_wrap {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 25px;
}

.fc-daygrid-event {
	cursor: pointer;
}




/* 프로젝트 파일 리스트 페이지 */
/* 프로젝트 파일 리스트 페이지 */
/* 프로젝트 파일 리스트 페이지 */
/* 프로젝트 파일 리스트 페이지 */
/* 프로젝트 파일 리스트 페이지 */
/* 프로젝트 파일 리스트 페이지 */
/* 프로젝트 파일 리스트 페이지 */
/* 프로젝트 파일 리스트 페이지 */
/* 프로젝트 파일 리스트 페이지 */

#project_file_tree {
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
}

#project_file_sub_btn_wrap {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	gap: 25px;
}


.project_file_sub_btn {
	width: 90px;
	height: 30px;
	background-color: rgb(230, 230, 230);
	font-size: 12px;
	color: rgb(51, 51, 51);
	font-family: NotoSansR;
	cursor: pointer;
}

#project_file_modal_background {
	display: none;
	z-index: 100;
	background-color: rgba(128, 128, 128, 0.356);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	font-size: 0px;
}

#project_file_modal_loading {
	position: absolute;
 	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
	font-size: 50px;
	color: rgn(94, 94, 94);
}

/* jstree css */

.jstree-contextmenu {
	z-index: 2;
}

/* 업무자 삭제 버튼 */
.work_worker_cancle {
	position: absolute;
	top: 9px;
	right: 9px;
	color: rgb(94, 94, 94);
	cursor: pointer;
}

.work_worker_cancle:hover {
	color: #4B4DB2;
}
















