@charset "UTF-8";
#section{
        margin-left: 60px;
        width: 1200px;
        color: rgb(94, 94, 94);
        position: relative;
    }
    .title{
        display: inline-block;
        font-family: NotoSansB;
        font-size: 14px;
        margin-top: 105px;
        margin-left: 65px;
        color: rgb(75, 77, 178);
    }
    .content{
       margin-top: 70px;
       margin-left: 65px; 
       margin-bottom: 120px;
    }
    .table{
        width: 1070px;
        text-align: center;
        font-size: 12px;
        font-family: NotoSansR;
        border-spacing: 0px;
        color: rgb(94, 94, 94);
        vertical-align: middle;
    }
    td{
        height: 60px;
    }
    tr > td:first-child, .list:nth-child(9){
        width: 35px;
    }
    .first_line{
        font-family: NotoSansB;
        background-color: rgb(224, 224, 224);
    }
    #edit_btn{
        width: 115px;
        height: 40px;
        background-color: rgb(230, 230, 230);
        color: rgb(51, 51, 51);
        border: 0px;
        font-family: NotoSansR;
        font-size: 12px;
        margin-left: 880px;
    }

    .list{
    	background-color: rgb(244, 244, 244);
    	font-family: NotoSansR;
        font-size: 12px;
    	vertical-align: middle;
    	text-align: center;
    	color: rgb(94, 94, 94);
    }
    
    #modal{
        width: 280px;
        height: 452px;
        position: absolute;
        top: 400px;
        left: 450px;
        background-color: rgb(250, 250, 250);
        box-shadow: 3px 3px 10px rgb(210, 210, 210);
        display: none;
    }
    #modal_section{
        display: block;
        margin: 0 auto;
        width: 226px;
        margin-top: 30px;
    }
    .modal_title{
        font-family: NotoSansR;
        display: block;
        font-size: 11px;
        margin-bottom: 5px;
        color: rgb(158, 158, 158);
    }
    .modal_content{
        font-family: NotoSansB;
        font-size: 12px;
        display: block;
        margin-bottom: 20px;
        color: rgb(94, 94, 94);
    }
    #modal_select_dept_cap, #modal_select_dept, #modal_select_yn, #d_name{
        font-family: NotoSansB;
        font-size: 12px;
        width: 225px;
        height: 30px;
        margin-bottom: 22px;
        color: rgb(94, 94, 94);
    }

    hr{
        background-color: rgb(236, 236, 236);
        height: 1.5px;
        border: 0px;
    }
    #modal_btn{
        margin: 0 auto;
        margin-bottom: 20px;
        width: 207px;
    }
    #modal_edit{
        color: rgb(75, 77, 178);
    }
    #modal_cancel, #modal_edit{
        width: 100px;
        height: 38px;
        border: 0px;
        font-family: NotoSansR;
        font-size: 12px;
        background-color: rgb(250, 250, 250);
    }






    #select_dept{
        margin-left: 840px;
        width: 115px;
        height: 40px;
        font-family: NotoSansR;
        font-size: 12px
    }