@charset "UTF-8";

#section{
           margin: 0 auto;
           width: 1200px;
       }
       #mid{
            margin-top: 170px;
           width: 1200px;
           height: 698px;
           background-color: rgb(244, 244, 244);
       }
       #mid_text{
           padding-top: 170px;
           margin-bottom: 60px;
           text-align: center;
           font-size: 17px;
           font-family: NotoSansB;
           color: #5E5E5E;
       }
   
       #f_section{
           display: block;
           margin: 0 auto;
           width: 380px;
           position: relative;
           text-align: center;
           margin-bottom: 60px;
       }
       
       #go_login, #ok{
           width: 180px;
           height: 40px;
           border: 0px;
           font-size: 11px;
           font-family: NotoSansR;
           margin: 0 auto;
           margin-bottom: 100px;
       }
       #go_login{
            background-color: white;
            color: #4B4DB2;
            border: 1px solid #4B4DB2;;
            cursor: pointer;
       }
       #ok{
            background-color: #4B4DB2;
            color: white;
            cursor: pointer;
       }
       #f_btn{
            display: block;
            margin: 0 auto;
            width: 366px;
       }
       .newPwd{
        width: 360px;
            height: 40px;
            margin-bottom: 10px;
            border: 1px solid rgb(158, 158, 158);
            border-radius: 3px;
            font-size: 12px;
            font-family: NotoSansR;
       }

       #last{
           width: 380px;
           margin: 0 auto;
           display: block;
           text-align: center;
           margin-top: 47px;
       }
       .last_text{
           font-family: NotoSansR;
           color: rgb(190, 190, 190);
           font-size: 12px;
       }
       #last_text_2{
           margin-left: 20px;
       }