@charset "UTF-8";

section {
	font-size: 0;
	width : 1320px;
}

/* 리스트페이지 */
/* 리스트페이지 */
/* 리스트페이지 */
/* 리스트페이지 */
/* 리스트페이지 */
/* 리스트페이지 */
/* 리스트페이지 */

#attendance_wrap {
	margin-top: 105px;
	margin-left: 125px;
	margin-right: 125px;
}

#attendance_title {
	
}

#attendance_tap_menu {
	margin-top: 70px;
	margin-bottom: 60px;
}

.attendance_tap {
	display: inline-block;
	font-size: 13px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	margin-right: 50px;
}

#attendance_list_text_box_wrap {
	display: inline-block;	
	float: right;
}

#attendance_list_text_box {
}

#attendance_list_wrap {
	display: grid;
	grid-template-columns: 190px 190px 190px 190px 190px;
	grid-template-rows: 190px 190px 190px 190px 190px;
	gap: 30px;
}

.attendance_list_block {
	width: 190px;
	height: 190px;
	border-radius: 15px;
	background-color: rgb(244, 244, 244); 
	overflow: hidden;
	position: relative;
}

.attendance_list_color {
	width: 15px;
	height: 190px;
	background-color: rgb(75, 77, 178); 
	position: absolute;
	left: 0;
}

.attendance_list_title {
	font-size: 15px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	position: absolute;
	left: 35px;
	top: 30px;
}

.attendance_list_update {
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	position: absolute;
	left: 35px;
	top: 100px;
	height: 20px;
	line-height: 20px;
}

.attendance_list_dept {
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
	position: absolute;
	left: 35px;
	top: 120px;
	height: 20px;
	line-height: 20px;
}

.attendance_list_fix {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 150px;
	top: 27.5px;
	filter: brightness(0) saturate(100%) invert(26%) sepia(76%) saturate(1356%) hue-rotate(219deg) brightness(91%) contrast(87%);
}

.attendance_list_fix2 {
	color: black;
	font-size: 100px;
}

.attendance_list_unlock {
	width: 20px;
	height: 20px;
	position: absolute;
	left:  150px;
	top: 150px;
}


/* 메인페이지 */
/* 메인페이지 */
/* 메인페이지 */
/* 메인페이지 */
/* 메인페이지 */
/* 메인페이지 */
/* 메인페이지 */

#attendance_main_wrap {
	margin: 105px 125px 0px 125px;
}

#attendance_main_menu_title {
	font-size: 14px;
	font-family: NotoSansB;
	color: #4B4DB2;
}

#attendance_main_header_btn_wrap {
	font-size: 0px;
	position: relative;
}

#attendance_main_header_btn_wrap {
	height: 70px;
}

.btn_main_purple {
	width: 115px;
	height: 40px;
	background-color: #4B4DB2;
	font-size: 12px;
	color: white;
	font-family: NotoSansR;
}

.btn_main_gray {
	width: 115px;
	height: 40px;
	background-color: rgb(230, 230, 230);
	font-size: 12px;
	font-family: NotoSansR;
}

.btn_main_float {
	margin-bottom: 15px;
	margin-top: 15px;
	margin-left: 20px;
	float: right;
}

#attendance_main_title {
	font-size: 14px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	margin-bottom: 30px;
}

#attendance_main_tab_wrap {
	font-size: 0px;
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin-bottom: 45px;
}

.attendance_main_tab {
	font-size: 13px;
	color: rgb(94, 94, 94);
	font-family: NotoSansR;
}

#attendance_main_container {
	margin-top: 45px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 45px;
}

#attendance_main_box_first {
	margin-top: 45px;
	width: 1070px;
	display: flex;
	flex-direction: row;
	color: rgb(94, 94, 94);
	/* background-color: rgb(159, 197, 232); */
	box-sizing: border-box;
}

.attendance_main_box {
	width: 1070px;
	height: 255px;
	background-color: rgb(244, 244, 244);
}

.attendance_main_box_top {
	width: 1070px;
	height: 60px;
	background-color: rgb(224, 224, 224);	
}

.attendance_main_box_title {
	height: 60px;
	line-height: 60px;
	font-size: 13px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
	text-align : center;
}

.attendance_main_box_container {
	margin: 57.5px 57.5px;
	/* display: grid; 
	grid-template-columns: 650px 250px;
	grid-template-rows: repeat(5, 25px);
	*/
}

.attendance_main_box_content_title {
	font-size: 13px;
	font-family: NotoSansR;
	line-height: 25px;
	color: rgb(94, 94, 94);
}

.attendance_main_box_content_date {
	font-size: 13px;
	font-family: NotoSansR;
	line-height: 25px;
	color: rgb(94, 94, 94);
	text-align: right;
}

#attendance_main_box_title_title {
	font-size: 37px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);
}

#attendance_main_box_title_content {
	height: 69px;
	font-size: 14px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);
}

#attendance_main_box_title_company {
	font-size: 14px;
	font-family: NotoSansB;
	color: white;
}

#search_date_range:first-child {
	height: 25px;
	line-height: 25px;
}

#att_date_start, #att_date_end{
	border: 1px solid rgb(224, 224, 224);
	width: 138px; height:25px;
	font-size: 12px;
	font-family: NotoSansR;
	color: rgb(94, 94, 94);	
}

.attendance_main_box_content_table{
	margin-top: 30px;
	border-top: 2px solid rgb(224, 224, 224);
	border-left: 2px solid rgb(224, 224, 224);
	border-bottom: 2px solid rgb(224, 224, 224);
	width: 955px;
}
.attendance_main_box_content_table tr{
	height: 38px;
}
.attendance_main_box_content_table tr:first-child{
	background-color: rgb(230, 230, 230);
}
.attendance_main_box_content_table td{
	text-align: center;
	line-height: 38px;
	font-size: 12px;
	font-family: NotoSansB;
	color: rgb(94, 94, 94);	
	border-right: 2px solid rgb(224, 224, 224);
}
