@charset "UTF-8";

#noticeSection {
	margin-left: 65px;
	font-family: NotoSansB;
}
.noticeTable a{
	color: rgb(94, 94, 94);
}
.noticeBoard{
	height: 800px;
	width: 1070px;
	background-color: rgb(244, 244, 244);
	margin-bottom: 220px;
}

#noticePageTitle {
	margin-top: 105px;
	margin-bottom:70px;
	font-size: 14px;
	color: rgb(75, 77, 178);
	
}
.noticeTable{
	text-align: center;
	border-collapse: separate;
  	border-spacing: 0 30px;
}

.noticeDate{
	padding-left: 180px;
	width: 149px;
}
.noticeTableDiv{
	text-align: center;
	width: 1070px;
}
.noticeNo{
	width: 59px;
    padding-left: 108px;
} 
.noticeTitle{
	padding-left: 128px;
	width: 376px;
}
.noticeNoDiv{
	width: 59px;
	margin-left: 115px;
	margin-right: 300px;
}
.noticeDateDiv{
	margin-left: 365px;
}
.noticeTableFirstTr .noticeTitle{
	width: 59px;
	
}
.noticeTableFirstTr .noticeDate{
	width: 59px;
	box-sizing: content-box;
}

.noticeTableFirstTr {
	font-size: 12px;
	color: rgb(94, 94, 94);
	background-color: rgb(224, 224, 224);
	height: 60px;
	box-sizing: border-box;
}
.noticeTableFirstTr td{
	vertical-align: middle;
}
.noticeTableContent{
	font-size: 12px;
	color: rgb(94, 94, 94);
	background-color: rgb(244, 244, 244);
	height: 20px;
	line-height: 20px;
}
.noticeTableContent td{
	text-align: center;
}
.noticeTableContent .noticeNo{
	/* padding-right: 126px; */
}
.noticeTableContent .noticeDate{
	width: 80px;
}
.noticeTitleDiv{
	font-size: 12px;
	color: rgb(94, 94, 94);
	background-color: rgb(224, 224, 224);
	height: 60px;
	box-sizing: border-box;
	line-height: 60px;
}
.paging{
	text-align: center;
	position: absolute;
    top: 830px;
    left: 535px;
}