@charset "UTF-8";

#noticeSection {
	margin-left: 65px;
	font-family: NotoSansB;
}
#noticePageTitle {
	margin-top: 105px;
	margin-bottom:70px;
	font-size: 14px;
	color: rgb(75, 77, 178);
	
}
.noticeMain{
	margin-left: 360px;
	width: 375px;
}
.noticeMain{
	font-size: 13px;
}
.noticeDateDiv,.noticeTitleDiv,.noticeContentDiv,.noticeCountDiv{
	margin-bottom: 23px;
 }
.noticeDate, .noticeTitl{
 	margin-bottom: 65px;
 }
.noticeCountDiv{
 	margin-top: 65px;
 }
.noticeTitl,.noticeContent{
 	width: 376px;
 }
.noticeContent{
 	height: 260px;
 }
 .noticeDate, .noticeTitl,.noticeContent,.noticeCount{
 	color: rgb(94, 94, 94);
 }
 .Btn{
 	cursor: pointer;
 	margin-left:129px;
 	width: 115px;
 	height: 40px;
 	margin-top: 76px;
 	margin-bottom: 220px;
 	color: white;
 	background: rgb(75, 77, 178);
 }