<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="employeeMapper">

<!-- 로그인 -->
<select id="selectEmployee" parameterType="hashmap" resultType="Employee">
	SELECT * 
	FROM TB_EMPLOYEE 
		JOIN TB_DEPARTMENT USING(DEPT_NO) 
		JOIN TB_COMPANY USING(CP_NO)
		JOIN TB_JOB_TITLE USING(JOB_TITLE_NO)
	where email=#{email} and pwd=#{pwd}
</select>

<!-- 자동 로그인 설정 -->
<update id="autologin" parameterType="hashmap">
	update TB_EMPLOYEE set sessionKey = #{sessionId}, sessionLimit = #{next} 
	where email=#{email}
</update>

<select id="checkSessionKey" parameterType="string" resultType="Employee">        
	select * from TB_EMPLOYEE 
	where sessionKey = #{sessionId} and sessionLimit > now()    
</select>

<!-- 바밀번호 찾기 -->
<select id="selectEmployeePwd" parameterType="hashmap" resultType="string">
	select pwd 
	from tb_employee 
   		join tb_department using(dept_no) 
    	join tb_company using(cp_no)
	where cp_name = #{cp_name}
    	and email = #{email}
    	and name = #{name}
</select>

<!-- 난수 insert -->
<insert id="insertRandomNum" parameterType="string">
	insert into tb_forjoin (email, random_num)
	values (#{email}, (select round(dbms_random.value()*1000000)+1 as RandomNum from dual))
</insert>

<!-- 난수 update -->
<update id="updateRandomNum" parameterType="string">
	update tb_forjoin
	set random_num = (select round(dbms_random.value()*1000000)+1 as RandomNum from dual)
	where email = #{email}
</update>

<!-- 난수 delete -->
<update id="deleteRandomNum" parameterType="string">
	delete from tb_forjoin
	where email = #{email}
</update>

<!-- 난수 select -->
<select id="selectRandomNum" parameterType="string" resultType="string">
	select random_num 
	from tb_forjoin
	where email = #{email}
</select>

</mapper>