<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Notice">

<select id="selectNotice" resultType="Notice">
	select * from tb_notice order by nt_no desc
</select>

<select id="readNotice" resultType="Notice">
	select * from tb_notice where nt_no=#{nt_no}
</select>


</mapper>