<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Notification">

<select id="selectNotification" resultType="Notification">
	select * from TB_NOTIFICATION order by noti_Date desc 
</select>

<delete id="deleteNotification" parameterType="list">
	delete from TB_NOTIFICATION
	<where>
		1 != 1 
		<foreach collection="list" item="item" open="OR" separator="OR">
		 noti_no=#{item}
		</foreach>
	 </where>

</delete>

<update id="checkNotification">
	update TB_NOTIFICATION set noti_status = 'Y'
	<where>
		1 != 1
		<foreach collection="list" item="item" open="OR" separator="OR">
			noti_no=#{item}
		</foreach>
	</where>
</update>


</mapper>