<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="kh.spring.wcw.notice.domain.Notice" alias="Notice"/>
		<typeAlias type="kh.spring.wcw.employee.domain.Employee" alias="Employee"/>
		<typeAlias type="kh.spring.wcw.attendance.domain.Attendance" alias="Attendance"/>
		<typeAlias type="kh.spring.wcw.company.domain.Company" alias="Company"/>
		<typeAlias type="kh.spring.wcw.notification.domain.Notification" alias="Notification"/>
		<typeAlias type="kh.spring.wcw.project.domain.Project" alias="Project"/>
		<typeAlias type="kh.spring.wcw.vacation.domain.Vacation" alias="Vacation"/>
		<typeAlias type="kh.spring.wcw.dept.domain.Dept" alias="Dept"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/notice-mapper.xml" />
		<mapper resource="mappers/employee-mapper.xml" />
		<mapper resource="mappers/attendance-mapper.xml" />
		<mapper resource="mappers/company-mapper.xml" />
		<mapper resource="mappers/notification-mapper.xml"/>
		<mapper resource="mappers/project-mapper.xml"/>
		<mapper resource="mappers/hr-mapper.xml"/>
		<mapper resource="mappers/vacation-mapper.xml"/>
		<mapper resource="mappers/chat-mapper.xml"/>
	</mappers>
	
	
</configuration>
