@charset "UTF-8";
#right_aside {
	display: block;
	width: 0px;
	height: 100%;
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: white;
	transition: width 0.3s ease-out;
	z-index : 2;
	font-size: 0px;
}

#chat_btn{
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: rgb(244, 244, 244);
	position: fixed;
	top: 50%;
	right: 0;
	transform: translate(50%, -50%);
	transition: width 0.3s ease-out 
	, height 0.3s ease-out
	, right 0.3s ease-out;
	cursor: pointer;
	z-index : 1;
}

.chat_btn_arrow {
	transform: translate(-10px, 0);
	transition: transform 0.3s ease-out;
}

#chat_header {
	width: 300px;
	height: 100px;
	background-color: #4B4DB2;
}

#chat_header_wrap {
	width: 180px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 60px 60px 60px;
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.chat_header_tap {
	color: white;
	font-size: 13px;
	font-family: NotoSansR;
	text-align: center;
}

#chat_body {
	width: 300px;
	height: 100%;
	background-color: rgb(244, 244, 244); 
}
/* 즐겨찾기 버튼 */
/* 즐겨찾기 버튼 */
/* 즐겨찾기 버튼 */
/* 즐겨찾기 버튼 */
/* 즐겨찾기 버튼 */

#favorite_btn_aside {
	position: fixed;
	top: 10px;
	right: 10px;
}

#favorite_btn {
	font-size: 20px;
	color: white;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #4B4DB2;
	transition: 0.15s ease;
}

/* 사이드-채팅 */

.chat_create{
	height: 22px;
	font-size: 22px;
	display: inline-block;
	position: relative;
    top: 6.5;
}
.search_chat{
	display: inline-block;
} 

#search{
	width: 22px;
	height: 22px;
}
.search_chatForm input{
	width: 180px;
	height: 28px;
	
}
.search_chatForm img{
	position: relative;
	top: 6.5;
	margin-left: 8px;
	margin-right: 3px;
	cursor: pointer;
}
#create{
	width: 22px;
	height: 22px;
}
.chat_create img{
	margin-left: 15px;
}



